.screen-container{
    height: 100vh;
    background: darkslategrey;

    grid-template-areas: 
        "title"
        "buttons"
        "array";
}

.title-container{
    grid-area: "title";
    height: 12vh;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}

.sorting-buttons{
    margin-top: 50px;
    grid-area: "buttons";
    }

.gen-button{
    font-size: 2em;
    left: 50px;
    margin-right: 100px;
    background-color: burlywood;
}
.gen-button:hover{
    background-color: rgba(222, 184, 135, 0.555);

}
.button{
    font-size: 1.25em;
    background-color: rgb(192, 94, 94);
}
.button:hover{
    background-color: rgba(177, 41, 41, 0.438);
}
.button + .button {
    margin-left: 30px;
}

.array-container {
    margin-top: 50px;
    width: 100%;
    position: absolute;
    bottom: 50px;
    grid-area: "array";
    align-items: center;
    bottom: 5%;
}

.array-bar {
    width: 10px;
    display: inline-block;
    margin: 0 2px;
}

